.nav { 
  position: fixed;
  background-color:white;
  height: 110px;
  width:100%;
  z-index: 0;

}

#logo {
  margin-left: 10%;
  height: 120px;
  width: 150px; 
  float: left;
}


/* navigation */

ul{
  margin-right: 10%;
  float:right;
}
li{
  display: inline-block;
  padding: 10px;
}

 a:hover {
 	color: grey;
 }

button {
  width: 100px;
  background-color: white;
  color: black;
}

 div.nav:after{
  clear:both;
}

@media only screen and (max-width:300px){

  button{
    width:500px;
    }
    li{
    padding:0;
    }

}
